<h3><%= @store.name %> Dashboard</h3>

<%= render "shared/orders", orders: @new_orders, title: "New Orders" %>

<%= render "shared/orders", orders: @active_orders, title: "Active Orders" %>

<%= render "shared/orders", orders: @archived_orders, title: "Archived Orders" %>
