<% if order.arrived %>
	<p>This order has been marked as Arrived</p>

	<% if order.fulfilled %>
		<p>This order has been marked as Fulfilled</p>
	<% else %>
		<p> This order has not yet been Fulfilled </p>
	<% end %>

<% else %>
	<p> This order has not yet arrived </p>
<% end %>

