 <% order = @order if @order %>

<% if order.class.name == "TailorOrder" %>
	<p> TAYLO RAAAADER </p>
<% else %>

	<%= form_for order do |f| %>
	  <%= f.label :arrived, "Read and Write", value: true %>
	  <%= f.radio_button :arrived, true, value: true %>

	  <%= f.submit "Save changes" %>
	<% end %>
<% end %>
